/* HomeBody, Header, Footer */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Trebuchet, sans-serif;
    outline: none;
    border: none;
}

/* general div and header styling */

header {
    background-color: rgb(79, 79, 94);
    color: white;
    height: 80px;
}

.headerContainer {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    height: 80px;
}


.olContainer ol {
    list-style-type: none;
    display: flex;
}

/*search bar in header css */

.search {
    display: flex;
    align-items: center;
    height: 80px;
    padding-left: 65px;
    padding-right: 250px;
}

.search form {
    display: flex;
}

.search form input {
    height: 40px;
    width: 450px;
    padding-left: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: white;
    font-size: 16px;
}

.search form button {
    height: 40px;
    width: 45px;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
}

/* menu, account and cart button/navigations */

.menu, .profile, .checkout {
    display: flex;
    align-items: center;
    height: 80px;
    font-size: 21.5px;
    color: black;
    font-weight: bolder;
}

.menu {
    padding-left: 70px;
    padding-right: 35px;
}

.profile {
    padding-right: 130px;
}

.menubtn, .checkoutbtn, .profilebtn {
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* general footer and div styling */

footer {
    background-color: rgb(79, 79, 94);
    color: white;
    height: 280px;
}

.footerContainer {
    height: 250px;
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.footerRow ol {
    list-style-type: none;
    padding-left: 100px;
    padding-right: 100px;
}

.footerRow li {
    letter-spacing: 1.25px;
    padding-bottom: 1.25px;
}

.footerRow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title li{ 
    font-size: 21.5px;
    padding-bottom: 6.5px;
    letter-spacing: 1.75px;
}

/* back to top of page button */

.footerTopContainer {
    background-color: rgb(90, 90, 107);
    color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    align-items: center;
}

.topBtn li {
    list-style: none;
    font-size: 14px;
}

/* Home Body css */

.homeContainer {
    width: 90%;
    height: 100%;
    margin: auto;
}

.homeTitle {
    padding-top: 20px;
}

.homeTitle, .homeAll {
    display: flex;
    justify-content: center;
    align-items: center;
}

.categorieRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.categorieRow ol {
    list-style-type: none;
    display: flex;
    padding: 15px;
}

.singleCategorie {
    padding: 10px;
}

.singleCategorieImage {
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    display: block;
}

.singleCategorieText {
    display: flex;
    justify-content: center;
}